/* Загальні стилі */
* {
  box-sizing: border-box; /* в ширину width та висоту height елемента враховуються рамки border та відступи padding */
}

.app {
  font-family: Verdana, Geneva, sans-serif;
  position: relative;
}

.wrapper {
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Хедер */
.fixed-menu {
  width: 100%;
  height: 120px;
  background: rgba(146, 145, 140, 0.7);
  position: fixed;
  top: 0;
  z-index: 5;
}

.header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header-menu {
  font-weight: bold;
  color: #3366ff;
  font-size: 13px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  margin-right: 25px;
}

.header-menu-li {
  margin-left: 22px;
  position: relative;
  padding-top: 54px;
  padding-bottom: 53px;
}

.header-menu-li:hover {
  color: #ffff00;
  border-bottom: 1px solid #ffff00;
}

.header-menu-li:hover:after {
  content: "";
  width: 40px;
  position: absolute;
  top: 30px;
  left: 2px;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 25px;
}

.logo-letter-H {
  font-weight: bold;
  color: #ffffff;
  font-size: 40px;
  background-color: #3366ff;
  text-align: center;
  width: 60px;
  position: relative;
  margin-right: 6px;
}

.logo-letter-H::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -45px;
  border: 30px solid transparent;
  border-top: 15px solid #3366ff;
}

.logo-letter-H::before {
  content: "";
  position: absolute;
  left: 0;
  top: -45px;
  border: 30px solid transparent;
  border-bottom: 15px solid #3366ff;
}

.logo-text {
  color: #ffffff;
  font-size: 32px;
}

.logo-text .highlight {
  font-weight: bold;
}

.highlight {
  color: #3366ff;
}

.banner-header {
  color: white;
  font-size: 35px;
  font-weight: bold;
  margin-top: 200px;
}

.banner-subheader {
  color: rgb(215, 86, 0);
  font-size: 79px;
  font-weight: bold;
  margin: 40px 0;
  text-transform: uppercase;
}

.banner-description {
  color: #ff0000;
  font-size: 34px;
  font-weight: 200;
  margin-bottom: 140px;
}

.banner {
  background-image: url("../img/Sections background/menu.jpg");
  background-size: cover;
}

.banner .wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-btn-explore {
  font-family: Verdana, Geneva, sans-serif;
  text-transform: uppercase;
  color: white;
  padding: 22px;
  background-color: #3366ff;
  font-size: 13px;
  font-weight: bold;
  border: none;
  border-top: 3px solid white;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 40px;
}

.banner-btn-explore:hover {
  background-color: #0000ff;
}

/* Заголовки секцій */
.services-header {
  color: #4e4e4e;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 34px;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 100px;
  position: relative;
}

.services-header:before {
  display: block;
  content: "";
  width: 80px;
  border-bottom: 1px solid #3366ff;
  position: absolute;
  top: 66px;
  left: 44%;
}

.services-header:after {
  display: block;
  content: "";
  width: 80px;
  border-bottom: 1px solid #3366ff;
  position: absolute;
  top: 70px;
  left: 46%;
}

/* Напрямки Таби */

.tabs-section {
  background-color: #f8fcfe;
  padding-bottom: 100px;
}

.tabs-section .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}

.tab {
  border: 1px solid #ebebeb;
  background-color: white;
  padding: 20px;
  color: #717171;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  cursor: pointer;
}

.tabs-active {
  border-top: 2px solid #3366ff;
  color: #3366ff;
}

.tabs-images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 80px;
}

.card {
  width: 284px;
  height: 206px;
  z-index: 2;
  position: relative;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* обрізає зображення, зберігаючи пропорції, щоб воно заповнило .card */
}

/*Замовити тур*/

.purchase-section {
  background: linear-gradient(rgba(0, 0, 0, 0.83), rgba(0, 0, 0, 0.83)),
    url("../img/Sections background/section-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
}

.purchase-section .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.purchase-section-header {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 32px;
  color: #3366ff;
  font-weight: bold;
  margin: 125px 0 30px;
}

.purchase-section-description {
  color: #d8d8d8;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 16px;
  margin-bottom: 100px;
}

/* Наші тури */

.news-section .wrapper {
  display: flex;
  justify-content: center;
}

.news-cards-blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 980px;
}

.card-img-block {
  position: relative;
  display: inline-block;
  margin-bottom: 46px;
  max-width: 208px;
}

.card-img-date {
  background-color: #203e38;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  width: 68px;
  height: 68px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-date-day {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 16px;
}

.card-date-month {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 16px;
  padding-top: 12px;
}

.news-card-description {
  background-color: #f8fcfe;
  border: 1px solid #ebebeb;
  padding: 14px;
  margin-top: -2px;
}

.news-card-header {
  font-family: Verdana, Geneva, sans-serif;
  color: #777777;
  font-weight: bold;
  padding-bottom: 12px;
  font-size: 12px;
}

.news-card-author::after {
  content: "";
  height: 16px;
  border-left: 1px solid rgba(119, 119, 119, 0.49);
  margin-left: 14px;
}

.card-img-block:hover .card-img-date {
  background-color: #3366ff;
}

.card-img-block:hover .news-card-header {
  color: #3366ff;
}

/* Слайдер */

.testimonial-section {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/Sections background/metro-royal.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 125px;
}

.testimonial-section .services-header {
  color: white;
}

.slider-block {
  width: 500px;
  margin: 50px auto;
  position: relative;
}

.slides {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slide {
  display: flex;
  align-items: flex-end;
  border-radius: 10px;
}

.img1 {
  width: 400px;
  height: 280px;
  background-image: url("../img/testimonials/bloger.jpg");
  background-size: cover;
}

.img2 {
  width: 400px;
  height: 280px;
  background-image: url("../img/testimonials/1hour.jpg");
  background-size: cover;
}

.img3 {
  width: 400px;
  height: 280px;
  background-image: url("../img/testimonials/metroshnik.jpg");
  background-size: cover;
}

.img4 {
  width: 400px;
  height: 280px;
  background-image: url("../img/testimonials/zongM.jpg");
  background-size: cover;
}

.txt {
  font-family: Verdana, Geneva, sans-serif;
  color: #000033;
  font-size: 12px;
  background-color: white;
  opacity: 70%;
  text-align: center;
  margin: 0 10px 0 10px;
  padding: 8px;
}

.dots {
  display: flex;
  justify-content: center;
}

.dot {
  width: 12px;
  height: 12px;
  opacity: 40%;
  background-color: #3366ff;
  border-radius: 50%;
  cursor: pointer;
  margin: 10px;
}

.active {
  opacity: 100%;
}
.nextBtn {
  background-image: url("../img/round-right-button.png");
  width: 50px;
  height: 50px;
  opacity: 40%;
  cursor: pointer;
  position: absolute;
  top: 100px;
  left: 470px;
}

.nextBtn:hover {
  opacity: 100%;
}

.backBtn:hover {
  opacity: 100%;
}

.backBtn {
  background-image: url("../img/round-left-button.png");
  width: 50px;
  height: 50px;
  opacity: 40%;
  cursor: pointer;
  position: absolute;
  top: 100px;
  left: -20px;
}

/* Футер */

.footer-section {
  height: 106px;
  background-color: #22353f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  font-weight: 200;
  color: #bbbbbb;
}

.footer-text span::after {
  content: "";
  height: 14px;
  border-left: 2px solid rgba(119, 119, 119, 0.73);
  margin: 4px;
}

/* Модальне вікно */
.modal-wrapper {
  display: none; /* flex */
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: gray;
  opacity: 90%;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

.modal {
  width: 400px;
  background-color: white;
  box-shadow: 10px 10px 13px 10px black;
}

.modal-header {
  background-color: blue;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
}

.modal-main {
  display: flex;
  justify-content: center;
}

.close-modal {
  margin: 0;
  padding-right: 10px;
  color: white;
  cursor: pointer;
}

.modal-btn {
  font-family: Verdana, Geneva, sans-serif;
  text-transform: uppercase;
  color: white;
  padding: 10px;
  background-color: #3366ff;
  font-size: 10px;
  font-weight: bold;
  border: none;
  border-top: 3px solid white;
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 10px;
}

.modal-btn:hover {
  background-color: #0000ff;
}

.modal-input {
  font-family: Verdana, Geneva, sans-serif;
  padding: 8px;
  font-size: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
}

/* Адаптивні медіа запити для планшетів та мобілок */

@media (max-width: 840px) {
  .header-menu {
    font-size: 10px;
  }

  .logo-text {
    font-size: 24px;
  }

  .banner-header {
    font-size: 24px;
  }

  .banner-subheader {
    font-size: 50px;
    margin: 30px 0;
  }

  .banner-description {
    font-size: 28px;
  }

  .purchase-section-header {
    font-size: 24px;
  }
  .purchase-section-description {
    font-size: 20px;
  }

  .news-cards-blocks {
    width: 700px;
  }
}

@media (max-width: 630px) {
  .header-menu {
    font-size: 8px;
  }

  .banner-header {
    font-size: 17px;
  }

  .banner-subheader {
    font-size: 30px;
    margin: 30px 0;
  }

  .banner-description {
    font-size: 22px;
  }

  .purchase-section-header {
    font-size: 17px;
  }
  .purchase-section-description {
    font-size: 15px;
  }

  .news-cards-blocks {
    width: 500px;
  }
}
.upButton {
  width: 50px;
  height: 50px;
  background-color: red;
  color: white;
  border-radius: 50%;
  border: none;
  opacity: 60%;
  cursor: pointer;

  transition: all 0.3s;

  position: fixed;
  bottom: 50px;
  right: 50px;
  display: none;
}
.news-section2 {
  padding: 10px;
  text-align: center;
}
